<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="java.util.List" alias="List"/>
  		
  		
  		<typeAlias type="com.app.home.report.ReportVO" alias="ReportVO"/>
  		
  		
  		<typeAlias type="com.app.home.report.UserVO" alias="UserVO"/>
  		<typeAlias type="com.app.home.report.RoleVO" alias="RoleVO"/>
  		<typeAlias type="com.app.home.report.DepartmentVO" alias="DepartmentVO"/>
  		
  	</typeAliases>
  </configuration>