<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="java.util.List" alias="List"/>

  		<typeAlias type="com.app.home.user.UserVO" alias="UserVO"/>
  		<typeAlias type="com.app.home.user.RoleVO" alias="RoleVO"/>
  		<typeAlias type="com.app.home.user.DepartmentVO" alias="DepartmentVO"/>


  		<typeAlias type="com.app.home.user.EmployeeVO" alias="EmployeeVO"/>
  		<typeAlias type="com.app.home.user.DepartmentVO" alias="DepartmentVO"/>
		<typeAlias type="com.app.home.messenger.NoteVO" alias="NoteVO"/>
		<typeAlias type="com.app.home.messenger.RoomVO" alias="RoomVO"/>
		<typeAlias type="com.app.home.messenger.PickVO" alias="PickVO"/>
		
		<typeAlias type="java.util.Map" alias="Map"/>

  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="com.app.home.util.Pager" alias="Pager"/>
  		<typeAlias type="com.app.home.board.comment.CommentPager" alias="CommentPager"/>
  		<typeAlias type="com.app.home.file.FileVO" alias="FileVO"/>
  		<typeAlias type="com.app.home.board.BoardVO" alias="BoardVO"/>	
  		<typeAlias type="com.app.home.board.comment.CommentVO" alias="CommentVO"/>	


  		<typeAlias type="java.lang.Integer" alias="int"/>
  		<typeAlias type="java.lang.String" alias="String"/>
  		
  		
  		<typeAlias type="com.app.home.schedule.goods.GoodsVO" alias="GoodsVO" />
  		<typeAlias type="com.app.home.schedule.goods.GoodsFileVO" alias="GoodsFileVO" />
  		<typeAlias type="com.app.home.schedule.goods.ReserveVO" alias="ReserveVO" />
  		<typeAlias type="com.app.home.schedule.goods.GoodsReserveVO" alias="GoodsReserveVO" />
  		<typeAlias type="com.app.home.schedule.car.CarVO" alias="CarVO" />
  		<typeAlias type="com.app.home.schedule.room.GoodsRoomVO" alias="GoodsRoomVO" />
  		
  		
  	</typeAliases>
  </configuration>