<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.board.BoardDAO">
	<insert id="setBoard" parameterType="BoardVO"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO BOARD (ID, CREATOR, TITLE,
		CONTENTS, DEPNUM, HIT, SORT)
		VALUES (0, #{creator}, #{title}, #{contents},
		#{depnum}, 0, #{sort})
	</insert>

	<select id="getDetail" parameterType="BoardVO"
		resultMap="resultBoardAddfiles">
		SELECT b.*,f.id as fileid, f.filename, f.oriname, f.fileSize  , u.name , u.status 
		FROM BOARD b
			LEFT JOIN FILE f 
			ON b.id = f.boardId
			inner JOIN `USER` u 
			ON b.CREATOR  = u.ID 
		WHERE b.id=#{id}
	</select>

	<resultMap type="BoardVO" id="resultBoardAddfiles">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="contents" property="contents" />
		<result column="creator" property="creator" />
		<result column="depnum" property="depnum" />
		<result column="hit" property="hit" />
		<result column="sort" property="sort" />
		<result column="regdate" property="regDate" />
		<result column="updatedate" property="updateDate"/>
		<result column="updater" property="updater"/>
		<association property="userVO" javaType="UserVO">
			<id column="creator" property="id"/>
			<result column="name" property="name"/>
			<result column="status" property="status"/>
		</association>
		<collection property="fileVOs" javaType="List"
			ofType="FileVO">
			<id column="fileid" property="id" />
			<result column="filename" property="fileName" />
			<result column="oriname" property="oriName" />
			<result column="fileSize" property="fileSize"/>
		</collection>

	</resultMap>

	<update id="setUpdate" parameterType="BoardVO" >
		UPDATE BOARD set
		title=#{title}, CONTENTS =#{contents}, UPDATEDATE = SYSDATE(), UPDATER = #{updater}
		WHERE ID =#{id};
	</update>


	<delete id="setDelete" parameterType="BoardVO">
		DELETE FROM BOARD WHERE ID
		= #{id}
	</delete>

	<select id="getList" parameterType="Pager" resultMap="resultBoardAddfiles">
		SELECT B.ID, B.title, B.creator, B.depnum, B.hit, B.regDate, COUNT(C.ID) as cntComment, U.NAME, U.status 
		FROM BOARD B
		LEFT JOIN COMMENT C
		ON B.ID = C.BOARDID
		LEFT JOIN `USER` U 
		ON B.CREATOR = U.ID 
		WHERE SORT = #{sort}
		AND
		B.<include refid="search"></include>
		GROUP BY B.ID
		ORDER BY ID DESC
		LIMIT ${startRow}, ${perPage}
	</select>
	
	<!-- 조회수 순으로 리스트 불러오기 -->
	<select id="getListByHit" parameterType="Pager" resultType="BoardVO">
		SELECT B.*, COUNT(C.ID) as cntComment FROM BOARD B
		LEFT JOIN COMMENT C
		ON B.ID = C.BOARDID
		WHERE SORT = #{sort}
		AND
		B.<include refid="search"></include>
		GROUP BY B.ID
		ORDER BY HIT DESC
		LIMIT ${startRow}, ${perPage}
	</select>
	
	<!-- 댓글수 순으로 리스트 불러오기 -->
	<select id="getListByComment" parameterType="Pager" resultType="BoardVO">
		SELECT B.*, COUNT(C.BOARDID) AS cntComment FROM
		BOARD B
		LEFT JOIN COMMENT C
		ON B.ID = C.BOARDID
		WHERE SORT = #{sort}
		AND
		B.<include refid="search"></include>
		GROUP BY B.ID
		ORDER BY <include refid="order"></include>
		LIMIT ${startRow}, ${perPage}
	</select>

	<select id="getTotalCount" parameterType="Pager"
		resultType="Long">
		SELECT COUNT(ID) FROM BOARD
		WHERE SORT = #{sort}
		AND
		<include refid="search"></include>
	</select>

	<sql id="search">
		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'creator'">ID</when>
			<otherwise>CONTENTS</otherwise>
		</choose>
		LIKE CONCAT('%', #{search}, '%')
	</sql>
	
	<sql id="order">
		<choose>
			<when test="order == 'comment'">cntComment DESC</when>
			<when test="order == 'hit'">HIT DESC</when>
			<otherwise>ID DESC</otherwise>
		</choose>
	</sql>

	<update id="setHit" parameterType="BoardVO">
		UPDATE BOARD SET HIT = HIT + 1
		WHERE ID = #{id}
	</update>
	
	<!-- 요청카테고리 -->
	<select id="findReqCategory" parameterType="ReqCategoryVO" resultMap="reqCategoryResult">
		SELECT RC.*,D.DEPNAME
		FROM DEPARTMENT D
			 JOIN
			 REQCATEGORY RC 
			 ON D.DEPNUM = RC.DEPNUM
		WHERE RC.DEPNUM = #{depNum}
	</select>
	<resultMap type="ReqCategoryVO" id="reqCategoryResult">
		<id column="id" property="id"/>
		<result column="categoryName" property="categoryName"/>
		<result column="categoryForm" property="categoryForm"/>
		<result column="depNum" property="depNum"/>
		<association property="DepartmentVO" javaType="DepartmentVO">
			<id column="depNum" property="depNum"/>
			<result column="depName" property="depName"/>
			<result column="id" property="id"/>
		
		</association>
	
	</resultMap>

</mapper>    