<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.car.CarMapper">

	<!-- 예약 취소 -->
	<delete id="setDelete" parameterType="ReserveVO">
		DELETE FROM RESERVE 
		WHERE RESERVENUM = #{reserveNum}
	</delete>

	<!-- 예약 변경 -->
	<update id="setUpdate" parameterType="ReserveVO">
		UPDATE RESERVE R
		INNER JOIN GOODS G
		ON R.GOODSID = G.GOODSID 
		SET R.STARTTIME = #{startTime}, R.ENDTIME = #{endTime}, R.USEPURPOSE = #{usePurpose}
		WHERE R.RESERVENUM = #{reserveNum}
	</update>
	
	<!-- 예약 상세보기 -->
	<select id="getReserveDetail" resultType="ReserveVO">
		SELECT * FROM RESERVE
		WHERE RESERVENUM = #{reserveNum}
	</select>
	
	<!-- 예약 리스트 -->
	<select id="getReserveList" resultType="ReserveVO" parameterType="List">
		SELECT * FROM RESERVE ORDER BY RESERVENUM DESC
	</select>

	<!-- 예약 -->
	<insert id="setReserve" parameterType="ReserveVO">
		INSERT INTO RESERVE(RESERVENUM, GOODSID, DATE, STARTTIME, ENDTIME, ID, USEPURPOSE)
		VALUES(null, #{goodsId}, now(), #{startTime}, #{endTime}, '7', #{usePurpose})
	</insert>

	<!-- 차량 상세보기 -->
	<select id="getGoods" parameterType="GoodsVO" resultMap="getGoodsDetail">
		SELECT * FROM GOODS G
		LEFT JOIN GOODSFILE F
		ON G.GOODSID = F.GOODSID
		WHERE G.GOODSID = #{goodsId}
	</select>

	<resultMap type="GoodsVO" id="getGoodsDetail">
		<id column="GOODSID" property="goodsId"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>
		<result column="CARNUM" property="carNum"></result>

		<collection property="goodsFileVO" javaType="List" ofType="GoodsFileVO">
			<id column="IMGNUM" property="imgNum"></id>
			<result column="FILENAME" property="fileName"></result>
			<result column="ORINAME" property="oriName"></result>
		</collection>
	</resultMap>
	
	<!-- 공공시설 전체 출력 -->
	<select id="getGoodsList" parameterType="GoodsVO"
		resultMap="getGoods">
		SELECT * FROM GOODS G
		left JOIN GOODSFILE F
		ON G.GOODSID = F.GOODSID
	</select>

	<resultMap type="GoodsVO" id="getGoods">
		<id column="GOODSID" property="goodsId"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>
		<result column="CARNUM" property="carNum"></result>

		<collection property="goodsFileVO" javaType="List"
			ofType="GoodsFileVO">
			<id column="IMGNUM" property="imgNum"></id>
			<result column="FILENAME" property="fileName"></result>
			<result column="ORINAME" property="oriName"></result>
		</collection>
	</resultMap>

</mapper>    