<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.board.comment.CommentDAO">

	<insert id="setCommentAdd" parameterType="CommentVO">
		INSERT INTO COMMENT
		(CREATOR,BOARDID,CONTENTS)
		VALUES(#{creator},#{boardId},#{contents})
	</insert>

	<select id="getCommentList" resultType="CommentVO"
		parameterType="CommentPager">
		SELECT * FROM COMMENT
		WHERE BOARDID = #{boardId}
		ORDER BY
		ID DESC
		LIMIT #{startRow}, #{perPage}
	</select>

	<select id="getCommentListTotalCount" resultType="Long"
		parameterType="CommentPager">
		SELECT COUNT(ID) FROM COMMENT
		WHERE BOARDID = #{boardId}
	</select>

	<insert id="setCommentUpdate" parameterType="CommentVO">
		UPDATE COMMENT
		SET
		CONTENTS=#{contents}, UPDATEDATE=current_timestamp() WHERE
		ID=#{id}
	</insert>

	<delete id="setCommentDelete" parameterType="CommentVO">
		DELETE FROM COMMENT
		WHERE
		ID = #{id}
	</delete>

</mapper>
	
	
	
	
	