<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.board.comment.CommentDAO">

	<insert id="setCommentAdd" parameterType="CommentVO">
		INSERT INTO COMMENT
		(CREATOR,BOARDID,CONTENTS)
		VALUES(#{creator},#{boardId},#{contents})
	</insert>

	<select id="getCommentList" resultMap="getCommentListResult"
		parameterType="CommentPager">
		SELECT C.*, U.name AS NAME FROM COMMENT C
		LEFT JOIN USER U
		ON C.creator = U.ID
		
		WHERE BOARDID = #{boardId}
		ORDER BY
		ID DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<resultMap type="CommentVO" id="getCommentListResult">
		<id column="ID" property="id"/>
		<result column="BOARDID" property="boardId"/>
		<result column="CREATOR" property="creator"/>
		<result column="CONTENTS" property="contents"/>
		<result column="REGDATE" property="regDate"/>
		<result column="UPDATEDATE" property="updateDate"/>
		<association property="userVO" javaType="UserVO">
			<id column="NUM" property="num"/>
			<result column="NAME" property="name"/>
			<result column="PROFILE" property="profile"/>
		</association>
	</resultMap>

	<select id="getCommentListTotalCount" resultType="Long"
		parameterType="CommentPager">
		SELECT COUNT(ID) FROM COMMENT
		WHERE BOARDID = #{boardId}
	</select>

	<insert id="setCommentUpdate" parameterType="CommentVO">
		UPDATE COMMENT
		SET
		CONTENTS=#{contents}, UPDATEDATE=current_timestamp() WHERE
		ID=#{id}
	</insert>

	<delete id="setCommentDelete" parameterType="CommentVO">
		DELETE FROM COMMENT
		WHERE
		ID = #{id}
	</delete>

</mapper>
	
	
	
	
	