<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.file.FileDAO">
	<insert id="setFile" parameterType="com.app.home.file.FileVO">
		INSERT INTO FILE (ID, BOARDID, FILENAME, ORINAME)
		VALUES (0, #{boardId}, #{fileName}, #{oriName})
	</insert>
	<select id="getFileDetail" parameterType="com.app.home.file.FileVO" resultType="com.app.home.file.FileVO">
		SELECT * FROM FILE WHERE id = #{id}
	</select>
	<delete id="setFileDelete" parameterType="com.app.home.file.FileVO">
		DELETE FROM FILE WHERE ID = #{id}
	</delete>
	
</mapper>    