<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.goods.GoodsMapper">
	
	<update id="setUpdate" parameterType="GoodsVO">
		UPDATE GOODS SET NAME = #{name}, MAX = #{max}, CONTENTS = #{contents}, LOCATION = #{location} WHERE ID = #{id}
	</update>

	<insert id="setAdd" parameterType="GoodsVO">
			INSERT INTO GOODS
				VALUES (#{id},#{name},#{max},#{contents},#{location})
	</insert>
	
	<select id="getCount" parameterType="GoodsVO" resultType="int">
		SELECT COUNT(*) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>
	
	<select id="getMaxCount" parameterType="GoodsVO" resultType="String">
		SELECT MAX(ID) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>
	
	<select id="getGood" parameterType="GoodsVO" resultType="GoodsVO">
		SELECT * FROM GOODS WHERE ID = #{id}	
	</select>
	
	<insert id="setGoodsFileAdd" parameterType="GoodsFileVO">
 		INSERT INTO GOODSFILE
 		VALUE (#{imgNum},#{id},#{fileName},#{oriName})
 	</insert>
 	
 	<select id="getGoods" parameterType="GoodsVO" resultMap="getGoodsDetail">
 		SELECT * FROM GOODS G
			INNER JOIN GOODSFILE F
			ON G.ID  = F.ID
			WHERE G.ID = #{id}
 	</select>
	
	<resultMap type="GoodsVO" id="getGoodsDetail">
		<id column="ID" property="id"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>
		
		<collection property="goodsFileVO" javaType="List" ofType="GoodsFileVO">
				<id column="IMGNUM" property="imgNum"></id>
				<result column = "FILENAME" property="fileName"></result>
				<result column = "ORINAME" property="oriName"></result>
		</collection>
	</resultMap>
	
	<select id="getReserveList" parameterType="GoodsReserveVO" resultType="GoodsReserveVO">
		select * from RESERVE;
	</select>
	
	
</mapper> 