<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.goods.GoodsMapper">

	<update id="setUpdate" parameterType="GoodsVO">
		UPDATE GOODS SET NAME = #{name}, MAX = #{max}, CONTENTS = #{contents}, LOCATION = #{location}, CARNUM = #{carNum} WHERE ID = #{id}
	</update>

	<insert id="setAdd" parameterType="GoodsVO">
			INSERT INTO GOODS
				VALUES (#{id},#{name},#{max},#{contents},#{location},#{carNum})
	</insert>

	<select id="getCount" parameterType="GoodsVO" resultType="int">
		SELECT
		COUNT(*) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>

	<select id="getMaxCount" parameterType="GoodsVO"
		resultType="String">
		SELECT MAX(ID) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>

	<select id="getGood" parameterType="GoodsVO"
		resultType="GoodsVO">
		SELECT * FROM GOODS WHERE ID = #{id}
	</select>

	<insert id="setGoodsFileAdd" parameterType="GoodsFileVO">
 		INSERT INTO GOODSFILE
 		VALUE (#{imgNum},#{id},#{fileName},#{oriName})
 	</insert>
 	
 	<select id="getGoods" parameterType="GoodsVO" resultMap="getGoodsDetail">
 		SELECT * FROM GOODS G
			LEFT JOIN GOODSFILE F
			ON G.ID  = F.ID
			WHERE G.ID = #{id}
 	</select>
	
	<resultMap type="GoodsVO" id="getGoodsDetail">
		<id column="ID" property="id"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>
		<result column="CARNUM" property="carNum"></result>
		
		<collection property="goodsFileVO" javaType="List" ofType="GoodsFileVO">
				<id column="IMGNUM" property="imgNum"></id>
				<result column = "FILENAME" property="fileName"></result>
				<result column = "ORINAME" property="oriName"></result>
		</collection>
	</resultMap>
	
	<select id="getFileNumCheck" parameterType="GoodsFileVO" resultType="GoodsFileVO">
 		SELECT t.IMGNUM FROM
			(select @ROWNUM:=@ROWNUM+1 AS ROWNUM, GF.* 
			FROM GOODSFILE GF, (SELECT @ROWNUM:=0) R
			WHERE ID = #{id} ) 
			AS t WHERE t.ROWNUM = #{rowNum}
 	</select>
	
 	<delete id="setFileNumCheckDelete" parameterType="GoodsFileVO">
 		DELETE FROM GOODSFILE WHERE IMGNUM = #{imgNum}
 	</delete>
 	
 	<delete id="setGoodsDelete" parameterType="GoodsVO">
 		DELETE FROM GOODS WHERE ID = #{id}
 	</delete>
 	
 	<delete id="setGoodsFileDelete" parameterType="GoodsVO">
 		DELETE FROM GOODSFILE WHERE ID = #{id}
 	</delete>
 	
 	<select id="getRoomList" resultMap="getGoodsDetail">
 		SELECT * FROM 
 		GOODS G
 		LEFT JOIN GOODSFILE GF
 		ON G.ID = GF.ID
 		WHERE G.ID LIKE 'RO%'
 	</select>
 	
 	<select id="getCarList" resultMap="getGoodsDetail">
 		SELECT * FROM
 		GOODS G
 		LEFT JOIN GOODSFILE GF
 		ON G.ID = GF.ID
 		WHERE G.ID LIKE 'CA%'
 	</select>

<!-- 전체 정보 출력을 위한 리스트 -->
	<select id="getGoodsList" parameterType="GoodsVO"
		resultMap="getGoods">
		SELECT * FROM GOODS G
		left JOIN GOODSFILE F
		ON G.ID = F.ID
	</select>

	<resultMap type="GoodsVO" id="getGoods">
		<id column="ID" property="id"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>
		<result column="CARNUM" property="carNum"></result>

		<collection property="goodsFileVO" javaType="List"
			ofType="GoodsFileVO">
			<id column="IMGNUM" property="imgNum"></id>
			<result column="FILENAME" property="fileName"></result>
			<result column="ORINAME" property="oriName"></result>
		</collection>
	</resultMap>
	
	<select id="getReserveList" parameterType="ReserveVO" resultType="ReserveVO">
		select * from RESERVE;
	</select>
	
	
</mapper> 