<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.goods.GoodsMapper">

	<insert id="setAdd" parameterType="GoodsVO">
			INSERT INTO GOODS
				VALUES (#{id},#{name},#{max},#{contents},#{location})
	</insert>
	
	<select id="getCount" parameterType="GoodsVO" resultType="int">
		SELECT COUNT(*) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>
	
	<select id="getMaxCount" parameterType="GoodsVO" resultType="String">
		SELECT MAX(ID) FROM GOODS WHERE ID LIKE CONCAT (#{id},'%')
	</select>
	
	<select id="getGood" parameterType="GoodsVO" resultType="GoodsVO">
		SELECT * FROM GOODS WHERE ID = #{id}	
	</select>
	
	
</mapper> 