<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.messenger.MessengerMapper">

<sql id="search">
			WHERE	
	 		<choose>
				<when test="kind==0">E.NAME</when>
				<when test="kind==1">D.DEPNAME</when>
				<otherwise>R.ROLENAME</otherwise>
			 </choose>
			LIKE CONCAT('%', #{keyword}, '%')
</sql>

	<select id="getEmpList" resultMap="getEmpListResult">
		SELECT * FROM USER E
			LEFT JOIN
			PICK P
			ON E.ID=P.YOURID 
					INNER JOIN
					DEPARTMENT D
					ON E.DEPNUM=D.DEPNUM
						INNER JOIN
					 	ROLE R
					 	ON E.ROLENUM=R.ROLENUM				 	
		ORDER BY D.DEPNUM, E.NAME
	</select>
	
	<select id="getDepList" resultType="DepartmentVO">
		SELECT * FROM DEPARTMENT
		ORDER BY DEPNUM
	</select>
	
	<select id="getSearchResult" parameterType="Map" resultMap="getEmpListResult">
		SELECT * FROM USER E
			LEFT JOIN
				PICK P
				ON E.ID=P.YOURID 
					INNER JOIN
					DEPARTMENT D
					ON E.DEPNUM=D.DEPNUM
					INNER JOIN
						 	ROLE R
						 	ON E.ROLENUM=R.ROLENUM	
						 	<if test="kind!=null">
								<include refid="search"></include> 	
						 	</if>
			ORDER BY D.DEPNUM, E.NAME
	</select>
	
	
	<resultMap type="UserVO" id="getEmpListResult">
		<id column="NUM" property="num"/>
		<result column="ID" property="id"/>
		<result column="DEPNUM" property="depNum"/>
		<result column="ROLENUM" property="roleNum"/>
		<result column="PW" property="pw"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ENTDATE" property="entDate"/>
		<result column="PROFILE" property="profile"/>
		<result column="STATUS" property="status"/>
			<association property="roleVO">
				<id column="ROLENUM" property="roleNum"/>
				<result column="ROLENAME" property="roleName"/>  
			</association>
			<association property="departmentVO">
				<id column="DEPNUM" property="depNum"/>
				<result column="DEPNAME" property="depName"/>
			</association>
			<collection javaType="List" ofType="PickVO" property="pickVO">
				<id column="PICKNUM" property="pickNum"/>
				<result column="MYID" property="myId"/>
				<result column="YOURID" property="yourId"/>
			</collection>
	</resultMap>
	
	<!--                          효경                          -->
	
	<!--                       비밀번호가 있는지 없는지 조회                       -->
	<select id="getPwCheck" parameterType="RoomVO" resultType="Integer">
		SELECT COUNT(PW) FROM CHATROOM WHERE ROOMNUM = #{roomNum}
	</select>
	
	<!--                       비밀번호 조회                       -->
	<select id="getRoomPw" parameterType="RoomVO" resultType="RoomVO">
		SELECT ROOMNUM, ROOMNAME, HOSTID, KIND
		FROM CHATROOM
		WHERE ROOMNUM = #{roomNum} AND PW = #{pw}
	</select>
	
	<!--                       채팅방 인원 수 조회                       -->
	<select id="getUserCount" parameterType="RoomVO" resultType="Integer">
		SELECT COUNT(ID) 
		FROM ROOMUSER RU
			RIGHT JOIN
			CHATROOM CR
			ON RU.ROOMNUM = CR.ROOMNUM
		WHERE CR.ROOMNUM = #{roomNum}
	</select>
	
	<!--                       채팅방 목록 조회                        -->
	<select id="getRoomList" parameterType="RoomVO" resultMap="getRoomListResult">
		SELECT U.NAME, U.PROFILE, R.HOSTID, R.ROOMNAME, R.ROOMNUM, R.KIND, R.PW, C.TOTAL FROM
		(SELECT HOSTID, ROOMNAME, ROOMNUM, KIND, PW
			FROM CHATROOM
			WHERE ROOMNUM IN (SELECT ROOMNUM FROM ROOMUSER WHERE ID=#{userVO.id} ORDER BY USERNUM DESC)) R 
		INNER JOIN
		USER U
		ON R.HOSTID = U.ID
		INNER JOIN 
		(
		SELECT R1.TOTAL, R1.ROOMNUM FROM 
		(SELECT COUNT(ID) AS TOTAL, ROOMNUM FROM ROOMUSER GROUP BY ROOMNUM) R1
		INNER JOIN
		(SELECT ROOMNUM FROM ROOMUSER 
		WHERE ID=#{userVO.id}) R2
		ON R1.ROOMNUM=R2.ROOMNUM
		) C
		ON R.ROOMNUM = C.ROOMNUM
	</select>
	<resultMap type="RoomVO" id="getRoomListResult">
		<id column="ROOMNUM" property="roomNum" />
		<result column="ROOMNAME" property="roomName"/>
		<result column="HOSTID" property="hostId"/>
		<result column="KIND" property="kind"/>
 		<result column="PW" property="pw"/>
 		<result column="TOTAL" property="total"/>
		<association property="userVO" javaType="UserVO">
			<id column="ID" property="id"/>
			<result column="NAME" property="name"/>
			<result column="PROFILE" property="profile"/>
		</association>
	</resultMap>
	
	<!--                       채팅방 유저 추가                        -->
	<insert id="setAddRoomUser" parameterType="RoomVO" ><!-- useGeneratedKeys="true" keyProperty="userNum" -->
		INSERT INTO ROOMUSER
		VALUES(null, #{userVO.id}, 
			   (SELECT ROOMNUM FROM  CHATROOM  WHERE ROOMNUM = #{roomNum}))
	</insert>
	
	<!--                       채팅방 생성                        -->
	<insert id="setAddRoom" parameterType="RoomVO" useGeneratedKeys="true" keyProperty="roomNum" >
		INSERT INTO CHATROOM
		VALUES(#{roomNum}, now(), #{roomName}, 
			   (SELECT ID FROM USER WHERE ID = #{hostId}), #{pw}, #{kind})
	</insert>
	
	<!-- 방 제목 -->
	<select id="getChatName" parameterType="RoomVO" resultType="String">
	   SELECT ROOMNAME FROM CHATROOM
	      WHERE ROOMNUM = #{roomNum}
	</select>
	
</mapper>    