<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.messenger.NoteMapper">

<insert id="setSendNote" parameterType="NoteVO">
INSERT INTO NOTE VALUES (null, #{sendId}, #{receiveId}, #{contents}, now(), 1)
</insert>

<select id="getSendNoteList" parameterType="EmployeeVO" resultType="NoteVO">
SELECT * FROM NOTE WHERE SENDID = #{id}
ORDER BY NOTENUM DESC
LIMIT 0, 8
</select>

<select id="getReceiveNoteList" parameterType="EmployeeVO" resultType="NoteVO">
SELECT * FROM NOTE WHERE RECEIVEID = #{id}
ORDER BY NOTENUM DESC
LIMIT 0, 8
</select>

<select id="getNoteDetail" resultType="NoteVO" parameterType="NoteVO">
SELECT * FROM NOTE 
WHERE NOTENUM = #{noteNum}
</select>
	
</mapper>    