<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.messenger.NoteMapper">

<insert id="setSendNote" parameterType="NoteVO">
INSERT INTO NOTE VALUES (null, #{sendId}, #{receiveId}, #{contents}, now(), 1)
</insert>

<select id="getSendNoteList" parameterType="Map" resultType="NoteVO">
SELECT * FROM NOTE WHERE SENDID = #{id}
AND
	<choose>
		<when test="kind == 'contents'">CONTENTS</when>
		<otherwise>RECEIVEID</otherwise>
	</choose> 
	LIKE CONCAT('%', #{search}, '%')
ORDER BY NOTENUM DESC
LIMIT #{startRow}, #{perPage}
</select>

<select id="getSendNoteListCount" parameterType="Map" resultType="Long">
SELECT COUNT(NOTENUM) FROM NOTE WHERE SENDID = #{id}
AND
	<choose>
		<when test="kind == 'contents'">CONTENTS</when>
		<otherwise>RECEIVEID</otherwise>
	</choose> 
	LIKE CONCAT('%', #{search}, '%')
</select>

<select id="getReceiveNoteList" parameterType="Map" resultType="NoteVO">
SELECT * FROM NOTE WHERE RECEIVEID = #{id} 
AND
	<choose>
		<when test="kind == 'contents'">CONTENTS</when>
		<otherwise>SENDID</otherwise>
	</choose> 
	LIKE CONCAT('%', #{search}, '%')
ORDER BY NOTENUM DESC
LIMIT #{startRow}, #{perPage}
</select>

<select id="getReceiveNoteListCount" parameterType="Map" resultType="Long">
SELECT COUNT(NOTENUM) FROM NOTE WHERE RECEIVEID = #{id}
AND 
	<choose>
		<when test="kind == 'contents'">CONTENTS</when>
		<otherwise>SENDID</otherwise>
	</choose> LIKE CONCAT('%', #{search}, '%')
</select>

<select id="getNoteDetail" resultType="NoteVO" parameterType="NoteVO">
SELECT * FROM NOTE 
WHERE NOTENUM = #{noteNum}
</select>
	
</mapper>    