<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.messenger.PickMapper">


	<select id="firstCheckPick" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM PICK
		WHERE MYID=#{myId} AND YOURID=#{yourId}
	</select>

	<insert id="setPick" parameterType="Map">
		INSERT INTO PICK
		(MYID, YOURID)
		VALUES(#{myId}, #{yourId});
	</insert>
	
	<select id="getPickList" parameterType="String" resultMap="pickListResult">
		SELECT * FROM USER E
			INNER JOIN
			PICK P
			ON E.ID=P.YOURID 
					INNER JOIN
					DEPARTMENT D
					ON E.DEPNUM=D.DEPNUM
						INNER JOIN
					 	ROLE R
					 	ON E.ROLENUM=R.ROLENUM	
			WHERE P.MYID=#{myId}	 	
		ORDER BY D.DEPNUM, E.NAME
	</select>
	
	<delete id="pickCancel" parameterType="Map">
		DELETE FROM PICK
		WHERE MYID=#{myId} AND YOURID=#{yourId}
	</delete>
	
	<resultMap type="UserVO" id="pickListResult">
		<id column="NUM" property="num"/>
		<result column="ID" property="id"/>
		<result column="DEPNUM" property="depNum"/>
		<result column="ROLENUM" property="roleNum"/>
		<result column="PW" property="pw"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ENTDATE" property="entDate"/>
		<result column="PROFILES" property="profiles"/>
		<result column="STATUS" property="status"/>
			<association property="roleVO">
				<id column="ROLENUM" property="roleNum"/>
				<result column="ROLENAME" property="roleName"/>  
			</association>
			<association property="departmentVO">
				<id column="DEPNUM" property="depNum"/>
				<result column="DEPNAME" property="depName"/>
			</association>
			<collection javaType="List" ofType="PickVO" property="pickVO">
				<id column="PICKNUM" property="pickNum"/>
				<result column="MYID" property="myId"/>
				<result column="YOURID" property="yourId"/>
			</collection>
	</resultMap>
	
</mapper>    