<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.home.report.ReportMapper">
	<!-- ============== 김도영 ================ -->
				<!-- 신청보고서 -->
	<insert id="setReportApply" parameterType="ReportApplyVO">
	INSERT INTO REPORTAPPLY 
	<!-- VALUES (NULL, #{id}, #{depNum}, #{reportNum}, 1, 0, SYSDATE(), #{name}, #{roleName}, #{depName}) -->
	VALUES (NULL, 1209, 4, #{reportNum}, 1, 0, SYSDATE(), 'hjs', 'IT개발팀', 'ROLE_MAKER')
	</insert>
	
	
	<!-- ==================================== -->
	
	<!-- ============== 한종석 ================ -->
	
	<select id="getReportList" parameterType="UserVO" resultMap="getListResult" >
		SELECT  U.ID, U.NAME, U.ROLENUM , U.DEPNUM, R.ROLENAME
			FROM USER U
			INNER JOIN
				ROLE R 
				ON R.ROLENUM = U.ROLENUM 
				INNER JOIN
				DEPARTMENT D 
				ON U.DEPNUM = D.DEPNUM 
				WHERE U.DEPNUM = #{depNum} AND U.ROLENUM = #{roleNum}

	</select>
	
	<resultMap type="UserVO" id="getListResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="roleNum" property="roleNum"/>
		<result column="depNum" property="depNum"/>
		
		<association property="roleVO" javaType="RoleVO">
			<id column="roleNum" property="roleNum"/>
			<result column="roleName" property="roleName"/>
		</association>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<id column="depNum" property="depNum"/>
		</association>
		
	</resultMap>
	
	<select id="getReportListCount" resultType="Long" parameterType="ReportPager">
		SELECT COUNT(id) FROM USER
	</select>
	
	<!-- 권한수정 누구를 부장(lstatus = 2)로 바꿀것인지 ****id를 받아서 -->
	<update id="setLstatusUpdate" parameterType="ReportVO">
		UPDATE REPORTLICENSER SET LSTATUS = 2 WHERE ID = #{id}
	</update>
	
	<!-- 팀장(부장)이 휴가를 가거나 공석일 때 그 팀에서 대표자를 정해야되기 때문에 맴버테이블에서 승인자 테이블로 INSERT해준다 -->
	<insert id="setLicenserAdd" parameterType="UserVO">
		INSERT INTO REPORTLICENSER (LICENSERNUM, DEPNUM, ID, LSTATUS) VALUES (null, #{depNum}, #{id}, 0)
	</insert>
	
	<!-- 승인권한을 가진사람들 모두 조회 -->
	<select id="getLicenserList" parameterType="ReportVO" resultMap="getLicenserListResult">
		SELECT U.ID, U.NAME, D.DEPNAME, R.ROLENAME 
		FROM REPORTLICENSER RL
		INNER JOIN
		USER U 
		ON U.ID = RL.ID
		INNER JOIN
		ROLE R
		ON U.ROLENUM = R.ROLENUM 
		INNER JOIN 
		DEPARTMENT D 
		ON D.DEPNUM = U.DEPNUM 
		WHERE RL.LSTATUS = 2 OR RL.LSTATUS = 3
	</select>
	
	<resultMap type="ReportVO" id="getLicenserListResult">
		<id column="licenserNum" property="licenserNum"/>
		<result column="id" property="id"/>
		
		<association property="userVO" javaType="UserVO">
			<id column="num" property="num"/>
			<result column="id" property="id"/>
			<result column="name" property="name"/>
		</association>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<id column="depNum" property="depNum"/>
			<result column="depName" property="depName"/>
		</association>
		
		<association property="roleVO" javaType="RoleVO">
			<id column="roleNum" property="roleNum"/>
			<result column="roleName" property="roleName"/>
		</association>
		
	</resultMap>
	
	
	<!-- ==================================== -->
	
	<!-- ============== 결재 신청 insert ================ -->
	
	<insert id="setAddApply" parameterType="ReportApplyVO">
	
	</insert>
	
	<insert id="setAddPay" parameterType="ReportPayVO">
		
	</insert>
	
	<insert id="setAddSorry" parameterType="ReportSorryVO">
		
	</insert>
	
	<insert id="setAddWork" parameterType="ReportWorkVO">
	
	</insert>
	
	<insert id="setAddVaca" parameterType="ReportVacaVO">
		INSERT INTO REPORTVACA 
		VALUES(null, #{applyNum}, #{categoryNum}, #{text}, #{period}, #{call}, sysdate())
	</insert>
	
	
	<!-- ==================================== -->
	
	
	<!-- ============== 최근호 ================ -->
	


	

<update id="setUpdateApply" parameterType="ReportApplyVO">
		UPDATE REPORTAPPLY SET STATUS = #{lStatus} WHERE APPLYNUM= #{applyNum}
	</update>
	
	<update id="setUpdateCancelApply" parameterType="ReportApplyVO">
		UPDATE REPORTAPPLY SET RETURNS = 1, STATUS=#{lStatus} WHERE APPLYNUM = #{applyNum}
	</update>


	<select id="getLicenseCheck" parameterType="ReportVO" resultType="Integer">
		SELECT LSTATUS FROM REPORTLICENSER WHERE ID = #{id}
	</select>
	
	<select id="getLicenseVacaReportDetail" parameterType="ReportVacaVO" resultType="ReportVacaVO">
		SELECT RA.*,RV.* FROM
		REPORTAPPLY RA
		INNER JOIN
		REPORTVACA RV
		ON RA.APPLYNUM = RV.APPLYNUM
		WHERE RV.APPLYNUM = #{applyNum}
	</select>
	
	<select id="getLicenseWorkReportDetail" parameterType="ReportWorkVO" resultType="ReportWorkVO">
		SELECT RA.*,RW.* FROM
		REPORTAPPLY RA
		INNER JOIN
		REPORTWORK RW
		ON RA.APPLYNUM = RW.APPLYNUM
		WHERE RW.APPLYNUM = #{applyNum}
	</select>
	
	<select id="getLicensePayReportDetail" parameterType="ReportPayVO" resultType="ReportPayVO">
		SELECT RA.*,RP.* FROM
		REPORTAPPLY RA
		INNER JOIN
		REPORTPAY RP
		ON RA.APPLYNUM = RP.APPLYNUM
		WHERE RP.APPLYNUM = #{applyNum}
	</select>
	
	<select id="getLicenseSorryReportDetail" parameterType="ReportSorryVO" resultType="ReportSorryVO">
		SELECT RA.*,RS.* FROM
		REPORTAPPLY RA
		INNER JOIN
		REPORTSORRY RS
		ON RA.APPLYNUM = RP.APPLYNUM
		WHERE RS.APPLYNUM = #{applyNum}
	</select>
	
	<select id="getFinishReport" parameterType="ReportApplyVO" resultMap="getFinishReportResult">
		SELECT RL.*,RA.*,U.* FROM
		REPORTLICENCES RL
		INNER JOIN
		REPORTAPPLY RA
		ON RL.DEPNUM = RA.DEPNUM
		INNER JOIN
		USER U
		ON RA.ID = U.ID
		WHERE RL.LSTATUS = RA.STATUS AND RL.ID=#{id} AND RA.REPORTNUM=#{reportNum}
	</select>
	
	<select id="getReturnReport" parameterType="ReportApplyVO" resultMap="getFinishReportResult">
		SELECT RL.*,RA.*,U.* FROM
		REPORTLICENCES RL
		INNER JOIN
		REPORTAPPLY RA
		ON RL.DEPNUM = RA.DEPNUM
		INNER JOIN
		USER U
		ON RA.ID = U.ID
		WHERE RL.LSTATUS = RA.RETURNS AND RL.ID=#{id} AND RA.REPORTNUM=#{reportNum}
	</select>
	
	<select id="getDoFirstReport" parameterType="ReportApplyVO" resultMap="getFinishReportResult">
		SELECT RL.*,RA.*,U.* FROM
		REPORTLICENCES RL
		INNER JOIN
		REPORTAPPLY RA
		ON RL.DEPNUM = RA.DEPNUM
		INNER JOIN
		USER U
		ON RA.ID = U.ID
		WHERE RA.STATUS = 1 AND RL.ID=#{id} AND RA.REPORTNUM=#{reportNum}
	</select>
	
	<select id="getDoFinalReport" parameterType="ReportApplyVO" resultMap="getFinishReportResult">
		SELECT RL.*,RA.*,U.* FROM
		REPORTLICENCES RL
		INNER JOIN
		REPORTAPPLY RA
		ON RL.DEPNUM = RA.DEPNUM
		INNER JOIN
		USER U
		ON RA.ID = U.ID
		WHERE RA.STATUS = 2 AND RL.ID=#{id} AND RA.REPORTNUM=#{reportNum}
	</select>
	
	<resultMap type="ReportVO" id="getFinishReportResult">
		<id column="LICENSERNUM" property="licenserNum"/>
		<result column="DEPNUM" property="depNum"/>
		<result column="ID" property="id"/>
		<result column="LSTATUS" property="lStatus"/>
			<collection property="reportApplyVOs" javaType="List" ofType="ReportApplyVO">
				<id column="APPLYNUM" property="applyNum"/>
				<result column="ID" property="id"/>
				<result column="DEPNUM" property="depNum"/>
				<result column="REPORTNUM" property="reportNum"/>
				<result column="STATUS" property="status"/>
				<result column="RETURNS" property="returns"/>
				<result column="APDATE" property="apDate"/>
				<association property="userVO" javaType="UserVO">
					<result column="NAME" property="name"/>
				</association>
			</collection>
	</resultMap>
	
	
	<!-- ==================================== -->
	
	<!-- ============== 류형민 ================ -->
	<sql id="paging">
		where r.id = #{id} <choose>
								<when test="kind == '1'">
									r.status = 1
								</when>
								<when test="kind == '2'">
									r.status = 2
								</when>
								<when test="kind == '3'">
									r.status = 3
								</when>
								<otherwise>
								</otherwise>
							</choose>
	</sql>
	
	<!-- 휴가 신청 목록 가져오기 -->
	<select id="getMyVacaList" parameterType="ReportPager" resultType="ReportVacaVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r
		INNER JOIN (SELECT rv.*,vg.CATEGORYNAME
					FROM REPORTVACA rv
					INNER JOIN 	
					VACATEGORY vg ON rv.CATEGORYNUM = vg.CATEGORYNUM
							) r2 ON r.APPLYNUM = r2.APPLYNUM
		<include refid="paging"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	
	<select id="getMyVacaCount" resultType="Long">
		SELECT COUNT(r.APPLYNUM)
		FROM REPORTAPPLY r
		INNER JOIN REPORTVACA r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
	</select>
	
	<!-- 시말서 목록 가져오기 -->
	<select id="getMySorryList" parameterType="ReportPager" resultType="ReportSorryVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r
		INNER JOIN REPORTSORRY r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	
	<select id="getMySorryCount" resultType="Long">
		SELECT COUNT(r.APPLYNUM)
		FROM REPORTAPPLY r
		INNER JOIN REPORTSORRY r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
	</select>
	
	<!-- 업무보고서 목록 가져오기 -->
	<select id="getMyWorkList" parameterType="ReportPager" resultType="ReportWorkVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r
		INNER JOIN REPORTWORK r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	
	<select id="getMyWorkCount" resultType="Long">
		SELECT COUNT(r.APPLYNUM)
		FROM REPORTAPPLY r
		INNER JOIN REPORTWORK r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
	</select>
	
	<!-- 지출결의서 목록 가져오기 -->
	<select id="getMyPayList" parameterType="ReportPager" resultType="ReportPayVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r
		INNER JOIN REPORTPAY r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
		LIMIT #{startRow},#{perPage}
	</select>
	
	<select id="getMyPayCount" resultType="Long">
		SELECT COUNT(r.APPLYNUM)
		FROM REPORTAPPLY r
		INNER JOIN REPORTPAY r2 ON r.APPLYNUM = r2.APPLYNUM 
		<include refid="paging"></include>
	</select>
	
	
	<!-- 보고서 디테일 -->
	<select id="getMyVacaDetail" parameterType="ReportApplyVO" resultType="ReportVacaVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r 
		INNER JOIN (SELECT rv.*,vg.CATEGORYNAME
					FROM REPORTVACA rv
					INNER JOIN 	
					VACATEGORY vg ON rv.CATEGORYNUM = vg.CATEGORYNUM
							) r2 ON r.APPLYNUM = r2.APPLYNUM
		where r.ID = #{id} and r.APPLYNUM = #{applyNum};
	</select>
	
	<select id="getMyPayDetail" parameterType="ReportApplyVO" resultType="ReportPayVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r 
		INNER JOIN REPORTPAY r2 ON r.APPLYNUM = r2.APPLYNUM
		where r.ID = #{id} and r.APPLYNUM = #{applyNum};
	</select>
	
	<select id="getMyWorkDetail" parameterType="ReportApplyVO" resultType="ReportWorkVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r 
		INNER JOIN REPORTWORK r2 ON r.APPLYNUM = r2.APPLYNUM
		where r.ID = #{id} and r.APPLYNUM = #{applyNum};
	</select>
	
	<select id="getMySorryDetail" parameterType="ReportApplyVO" resultType="ReportWorkVO">
		SELECT r.*,r2.*
		FROM REPORTAPPLY r 
		INNER JOIN REPORTSORRY r2 ON r.APPLYNUM = r2.APPLYNUM
		where r.ID = #{id} and r.APPLYNUM = #{applyNum};
	</select>
	
	<!-- ==================================== -->
	
</mapper>