<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.home.report.ReportMapper">
	<!-- ============== 김도영 ================ -->
	
	
	
	<!-- ==================================== -->
	
	<!-- ============== 한종석 ================ -->
	<!-- <select id="getReportList" parameterType="Report"></select> -->
	
	
	<!-- ==================================== -->
	
	<!-- ============== 장민석 ================ -->
	
	
	
	<!-- ==================================== -->
	
	
	<!-- ============== 최근호 ================ -->
	
	
	
	<!-- ==================================== -->
	
	<!-- ============== 류형민 ================ -->
	
	
	
	<!-- ==================================== -->
	
</mapper>