<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.room.RoomIF">

	<select id="getRoomList" parameterType="RoomVO"
		resultMap="roomList">
		select * from GOODS
	</select>

	<resultMap type="RoomVO" id="roomList">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="max" property="max" />
		<result column="contents" property="contents" />
		<result column="location" property="location" />
	</resultMap>

</mapper>    