<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.room.RoomMapper">

	<insert id="setAdd" parameterType="RoomVO">
			INSERT INTO ROOM
				VALUES (#{id},#{name},#{max},#{contents},#{location})
	</insert>
	
</mapper> 