<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.home.schedule.room.RoomMapper">

	<!-- 전체 정보 출력을 위한 리스트 -->
	<select id="getRoomList" parameterType="GoodsVO"
		resultMap="getGoods">
		SELECT * FROM GOODS G
		left JOIN GOODSFILE F
		ON G.GOODSID =
		F.GOODSID
	</select>

	<resultMap type="GoodsVO" id="getGoods">
		<id column="goodsId" property="goodsId"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>

		<collection property="goodsFileVO" javaType="List"
			ofType="GoodsFileVO">
			<id column="IMGNUM" property="imgNum"></id>
			<result column="FILENAME" property="fileName"></result>
			<result column="ORINAME" property="oriName"></result>
		</collection>
	</resultMap>

	<select id="getRoomTotal" parameterType="GoodsVO"
		resultMap="getRoom">
		SELECT * FROM GOODS G
		left JOIN GOODSFILE F
		ON G.GOODSID =
		F.GOODSID
		where G.GOODSID = #{goodsId}
	</select>

	<resultMap type="GoodsVO" id="getRoom">
		<id column="goodsId" property="goodsId"></id>
		<result column="NAME" property="name"></result>
		<result column="MAX" property="max"></result>
		<result column="CONTENTS" property="contents"></result>
		<result column="LOCATION" property="location"></result>

		<collection property="goodsFileVO" javaType="List"
			ofType="GoodsFileVO">
			<id column="IMGNUM" property="imgNum"></id>
			<result column="FILENAME" property="fileName"></result>
			<result column="ORINAME" property="oriName"></result>
		</collection>
	</resultMap>

	<insert id="setRoomReserve" parameterType="GoodsRoomVO">
		insert into RESERVE
		values(null, #{goodsId},
		#{id},
		#{startTime},
		#{endTime},
		#{usePurpose},
		now())
	</insert>

	<select id="getReserveStartTime" parameterType="List"
		resultType="ReserveVO">
		select STARTTIME from RESERVE where GOODSID = #{goodsId}
	</select>

	<select id="getResInfo" parameterType="ReserveVO"
		resultMap="info">
		select g.*, r.*
		FROM
		GOODS g
		inner join
		RESERVE r
		on g.GOODSID =
		r.GOODSID
		where g.GOODSID =
		#{goodsId}
	</select>

	<resultMap type="ReserveVO" id="info">
		<id column="reserveNum" property="reserveNum" />
		<result column="goodsId" property="goodsId" />
		<result column="date" property="date" />
		<result column="id" property="id" />
		<result column="usePurpose" property="usePurpose" />
		<result column="startTime" property="startTime" />
		<result column="endTime" property="endTime" />
		<collection property="goodsVOs" ofType="GoodsVO"
			javaType="List">
			<id column="goodsId" property="goodsId" />
			<result column="name" property="name" />
			<result column="max" property="max" />
			<result column="contents" property="contents" />
			<result column="location" property="location" />
		</collection>
	</resultMap>

</mapper>    