.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.wrapAll {
	width: 500px;
}

.contain {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}

/* ----- hearder ----- */
.header {
    background-color: #4e73df;
    width: 100%;
    height: 80px;
    -position: fixed;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.title {
	color: white;
}

.number{
    margin-top: 0.2rem;
    font-size: 0.9rem;
    font-weight : bold;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.number img {
    margin-top: 0.1rem;
    margin-right: 0.3rem;
}

.search{
    padding-top: 0.7rem;
    padding-right: 0.5rem;
}

/* ----- chat ----- */
.chating {
    background-color: #4e73df24;
    width: 100%;
    height: 550px;
    -margin-top: 80px;
    padding: 16px 16px 12px 17px;
    overflow: auto;
}

.inputTable {
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.you{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.you-flex {
    display: flex;
    align-items: flex-start;
}

.you-profile .pic {
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.you-name {
    margin-top: -5px;
}

.you-bubble-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.you-bubble {
    background-color: beige;
    padding: 0.6rem;
    padding-top : 0.3rem;
    border-radius: 0.5rem;
}

.you-count {
    color: #727272;
    margin-left: 0.6rem;
    font-size: smaller;
}


.me-bubble-flex-first {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.me-bubble-flex {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
}

.me-bubble {
    background-color: beige;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

.me-count {
    color: #727272;
    margin-right: 0.4rem;
    font-size: smaller;
}

.al-bubble {
	background-color: gray;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin: 0.7rem 3rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.alo-bubble {
	background-color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;
    margin: 0.7rem 3rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

/* ----- put ----- */
.put {
	background-color : #4e73df;
    padding: 15px;
    align-items: center;
    -position: fixed;
}

#msg {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

#inputChat {
    width: 83%;
    -height: 75px;
    padding : 10px;
    background-color: #ffffff;
    color: #000;
}

.sendBtn {
    padding: 0.5rem;
    -height: 35px;
    -width: 70px;
    -margin-left : 10px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: smaller;
}

.button span {
    margin-left: 4px;
}